nav {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin-top: 5px;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:last-child {
    border-right: none;
}

nav #left {
    float: right;
}

nav a:hover {
    background-color: Tomato;
}

section#about {
    column-width: 18em;
    margin: 22px;
    column-gap: 2em;
    column-rule: thin dotted #999;
}

section#menuitem {
    float: left;
    
    padding: 10px;
    margin: 5px;
    width: 32.3%;
}

section#menuitem img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 230px;
}
